click==8.1.2
MouseInfo==0.1.3
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.2
PyAutoGUI==0.9.53
PyGetWindow==0.0.9
PyMsgBox==1.0.9
PyRoxy @ git+https://github.com/MHProDev/PyRoxy.git@ea0f88dbc0573292ba5672124f69e4e7a31b544d
PySocks==1.7.1
pynput==1.7.6
